// Specific CSS for your home-page
body {
        background: #F4F4F4;
        text-align: center;
        color: #9b9b9b;
        overflow-x: hidden;
}
img {
      // width: 100px;
      // display: inline;
      // position: absolute;
      // left: 0px;
      // margin-left: auto;
      // margin-right: auto;
      // max-width: 100%;
      width: 100%;
      height: auto;
}

h1 {
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 22px ;
      color: red;
      /*text-align: center;*/
}

h2 {
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 16px;
      color: black;
      /*text-align: center;*/
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: justify;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #9b9b9b;
}

div {
      padding: 20px 20px 20px 20px;
      // margin: 20px 0px 15px 0px;
      // border-style: dotted;
      // border-width: 0.2px;
      // background: #FFFFFF;
}

header {
  background: #cccccc;
  color: #ffffff;
  // opacity: 0.2;

}

footer {
  background: #4c4c4c;

}

span {
  position: absolute;
  left: 10%;
  top: 20%;

}


a:hover {
          color: red;
          font-size: 15px;
}

#btn-red {
            background: red;
            color: white;
}

#me {
      border-radius: 25%;
}



.img-book {
            width: 150px;
}

ul {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      padding: 0px 20px;

      /*align-items: right;*/
}

li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;

}

.align-center {
                /*text-align: right;*/
}

.p-center {
            /*text-align: center;*/
}

.container-flex {
  display: flex;
  flex-direction: column;
}

#header-flex {
  flex-direction: row;
}

#footer-flex {
  flex-direction: row;
}
.item-grow {
 flex-grow: 1;

}

.item-untier {
  flex: 0 1 33%;

}


.item-deuxtier {
  flex: 0 1 67%;

}

.morepaddingside {
  padding: 50px 50px 50px 50px;
}

.item-desktop {
  // visibility: hidden;
  display: none;

}

#no-padding {
  padding: 0px;
}

.logo-image {
  width: 150px;

}

.but-access {
  width: 50px;
}
